---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import ProjectDetail from "../../components/sections/Projects/ProjectDetail.tsx";
import { projects } from "../../components/data/projectsData";

export function getStaticPaths() {
  return projects.map((project, index) => ({
    params: { slug: project.slug },
    props: {
      project,
      projectIndex: index,
      totalProjects: projects.length,
      prevProject: index > 0 ? { slug: projects[index - 1].slug, title: projects[index - 1].title } : null,
      nextProject: index < projects.length - 1 ? { slug: projects[index + 1].slug, title: projects[index + 1].title } : null,
    },
  }));
}

const { project, projectIndex, totalProjects, prevProject, nextProject } = Astro.props;
---

<Layout title={`${project.title} - Bernardo Moschen`} description={project.description}>
  <div transition:name={`project-${project.slug}`} transition:animate="slide">
    <ProjectDetail
      client:load
      project={project}
      projectIndex={projectIndex}
      totalProjects={totalProjects}
      prevProject={prevProject}
      nextProject={nextProject}
    />
  </div>
</Layout>
